<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="com.chalmers.game.td">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">

        <activity android:label="@string/app_name" android:name="SplashActivity" 
        android:launchMode="singleInstance"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

         <activity android:name=".MenuStart"
       		android:launchMode="singleInstance"
	    	android:screenOrientation="landscape"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dotted.games.Start" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Menu"
        	android:launchMode="singleInstance"
	    	android:screenOrientation="landscape"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dotted.games.Menu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity android:name=".MenuGame"
	    	android:screenOrientation="landscape"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dotted.games.StartGame" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <activity android:name=".MenuHelp"
	    	android:screenOrientation="landscape"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dotted.games.Help" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

                 <activity android:name=".MenuOptions"
	    	android:screenOrientation="landscape"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dotted.games.Options" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MenuCredits"
	    	android:screenOrientation="landscape"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.dotted.games.Credits" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
             

    </application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 